.singLogIn {
  width: 860px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
}

.leftForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  margin: 30px 0 0 30px;
}

form {
  margin: 0 auto;
  max-width: 260px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  color: #999999;
}

form input {
  border: 0;
  border-bottom: 2px solid #cdcdcd;
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

form input:focus {
  outline: none;
  border-bottom: 2px solid #3088f4;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

form button.btnRegistration {
  text-transform: uppercase;
  width: 260px;
  height: 40px;
  border-radius: 100px;
  background-color: #3088f4;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

form button.btnBack {
  margin: 20px auto;
  display: block;
  font-size: 14px;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #3c3c3c;
}

.errorInfo {
  color: #ff3860;
}

.input.is-danger {
  border-bottom-color: #ff3860;
}

.leftForm div.phone {
  padding-bottom: 20px;
  width: 214px;
  margin: 0 auto;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
  color: #999999;
}

.leftForm div.phone span {
  font-size: 14px;
  line-height: 1.07;
  text-align: left;
  color: #3088f4;
}

.rightForm {
  width: 50%;
  height: 622px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(
    325deg,
    rgb(48, 232, 189),
    rgb(48, 136, 244)
  );
}
.midScreen {
  display: none;
}
.rightForm div.welcom {
  padding: 30px 89px 0 25px;
  font-size: 35px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}

.rightForm div.infoRegis {
  padding: 10px 60px 0 25px;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
}

.rightForm img {
  margin-top: 80px;
}

@media all and (max-width: 890px) {
  .singLogIn {
    width: 548px;
    margin: 50px auto;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .rightForm {
    width: 100%;
    height: 140px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
  }
  .rightForm img {
    margin-top: 0;
    margin-right: 10px;
    width: 70px;
    height: 70px;
  }
  .midScreen {
    float: left;
    display: inline-block;
  }
  .largeScreen {
    display: none;
  }

  .rightForm div.welcom {
    width: 255px;
    padding: 20px 0 0 146px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
  }
  .rightForm div.infoRegis {
    padding: 0 0 20px 146px;
    font-size: 12px;
  }

  .leftForm {
    width: 100%;
  }
  form {
    margin: 30px 20px;
    max-width: 508px;
    text-align: center;
  }

  form button.btnRegistration {
    display: block;
    margin: 0 auto;
  }

  .logo {
    display: none;
  }
}

@media all and (max-width: 580px) {
  .singLogIn {
    width: 300px;
  }
  .rightForm div.welcom {
    padding: 20px 0 0 22px;
    margin-bottom: 20px;
  }
  .rightForm div.infoRegis {
    padding: 0 0 20px 22px;
  }
}
